body {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15;
    background-color: rgb(4, 4, 4);
    color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(255, 207, 2);
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 20px;
}

.navbar-custom {
    margin: 30px;
    border-radius: 15px;
}

.navbar-custom {
    background-color: rgb(104, 10, 122);
}


.navbar-color {
    font-size: 15pt;
    padding: 20px;
    margin: 20px;
    color: #ffffff;

    border-radius: 20px;
}

.navbar-color:hover {
    color: #000000;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.container-center p {
    border: solid 5px rgb(104, 10, 122);
    margin: 30px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: justify;
    text-indent: 3em;
    text-align: justify; 
}

.container-center {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    text-align: center;      
    min-height: 100vh;       
    padding: 20px;           
  }
  
  .text-image-container {
    max-width: 800px; 
    margin-bottom: 20px; 
  }
  
  .container-img .image {
    max-width: 100%; 
    height: auto;    
  }
  
  @media (max-width: 768px) {
    .text-image-container {
      margin-bottom: 15px; 
    }
  }
  

#logo_entec2024 {
    float: right;
    width: 50%; 
    max-height: 300px; 
    margin-left: 10px; 
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.footer-item {
    padding: 20px;
}


footer {
    border-radius: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    padding: 10px;
    background-color: rgb(104, 10, 122)
}

.footer-item {
    border-radius: 30px;
    background-color:rgb(0, 0, 0);
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.footer-item img {
    margin-top: 10px;
}

.footer-item a {
    margin-top: 5px;
    color: #007BFF; 
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}


